.bg-image{
    background-image: url("../assets/image-1.jpg");
    background-repeat: repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.navbar-logo{
    width: 25px;
    height: 22px;
    position: relative;
    top: -3px;
    right: 8px;
}