<div class="container">
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="mb-4">Star Wars</h1>
            <p>
                This application is built for star wars 
                <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/16RTLST6c6JQzUpcqDiAb7Mr6Q935KZ2nTkqzDZXZXb8/edit">task</a>.
            </p>
            <p>
                Technologies are used such as 
                <a target="_blank" rel="noopener noreferrer" href="https://angular.io">Angular</a>,
                <a target="_blank" rel="noopener noreferrer" href="https://rxjs.dev">RxJS</a>,
                and <a target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org">TypeScript</a> and so on.
            </p>   
            <p>The <a target="_blank" rel="noopener noreferrer" href="https://swapi.dev">Star Wars API</a> is used to gather all the data that you see.</p>
            <p>Styles used in the application comes from <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a>.</p>
        </div>
    </div>
</div>